nyc_taxi_dbt:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: oauth
      project: your-gcp-project-id
      dataset: nyc_taxi
      threads: 1
      timeout_seconds: 300
      location: US